/* box-sizing funguje tak, že šířka prvku (např. 300px) v sobě už zahrnuje i vnitřní okraje (padding) a rámeček (border). */
/*   * je Univerzální selektor (platí pro vše). */
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif; /* Nastavení fontu (sans-serif je bezpatkové písmo, bez nožiček,  serif = patkové) */
    margin: 0;               /* Vynulování vnějšího okraje stránky */
    padding: 20px;           /* Vnitřní okraj pro odsazení obsahu od krajů */
    display: flex;           /* Typ skládání flexbox (Chytrý kontejner, poté určím do sloupců a vycentruj) */
    flex-direction: column;  /* Skládání prvků pod sebe do sloupce */
    align-items: center;     /* Vše v sloupci zarovnané na střed*/
    transition: background-color 0.4s; /* Pro plynulejší přechod u změny barvy */
}

/* Styl pro standardní obsahový box */
.box {
    border: 2px solid darkblue; /* Tmavě modrý rámeček s tloušťkou 2px */
    padding: 20px;                /* Vnitřní okraj */
    margin: 10px;                 /* Vnější okraj */
    width: 300px;                 /* Pevná šířka boxu */
    background-color: white;    /* Bílé pozadí */
}

/* Rozšíření boxu specificky pro stránku vypis_dat.php */
.box-siroky { 
    width: 90%;
    max-width: 800px;
}

/* Nastavení navigačního menu */
nav {
    margin-bottom: 30px; /* Mezera pod navigací */
}




.logout-link {   /* Styl pro logout tlačítko */
    color: red; 
    font-weight: bold;
}

/* Nastavení prvků uvnitř formuláře */
form input, form textarea { 
    display: block;      /* Každý prvek bude na samostatném řádku */
    margin-bottom: 15px; /* Mezera pod prvkem */
    width: 100%;         /* Roztažení na celou šířku formuláře */
}

/* Třída pro chybové hlášky */
.chyba {
    color: red;
}

/* --- STYLY PRO TABULKU (převážně vypis_dat.php) --- */


/* Styl pro tabulku ve výpisu */
table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse; /* Spojí dvojité čáry do jedné */
}

table, th, td {
    border: 1px solid black; /* Černý rámeček */
}
 
th {  /* Hlavička tabulky (Table header) */
    background-color: #eee; /* Šedé pozadí hlavičky */
    padding: 8px;
}

tr {  /* Řádek tabulky (Table Row) */
    border-bottom: 1px solid black; 
}


td { /* Buňka s daty (Table Data)*/
    padding: 8px;
    border: 1px solid black;
    word-break: break-all; /* Automaticky zalomí extrémně dlouhá slova bez mezer */
}


/* Styl pro odkaz na smazání záznamu (křížek) */
.delete-link {
    color: red;
    font-weight: bold;
    text-decoration: none; /* Odstraní podtržení odkazu */
    display: block;
    text-align: center;
}
